In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

/Users/Jack/anaconda2/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [5]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range('20130101', periods=6)

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [12]:
df

                   A         B         C         D
2013-01-01  1.210114  0.221415  0.418297 -0.355430
2013-01-02  1.315240 -0.116895 -0.384307  0.208150
2013-01-03  0.977274  1.740967 -0.035907 -0.148523
2013-01-04 -1.159054 -0.694285 -0.463389 -0.623522
2013-01-05 -2.774810  1.841972  0.410819  0.471892
2013-01-06  0.913644 -0.497487 -0.331762  0.596513

In [13]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
df.head()

                   A         B         C         D
2013-01-01  1.210114  0.221415  0.418297 -0.355430
2013-01-02  1.315240 -0.116895 -0.384307  0.208150
2013-01-03  0.977274  1.740967 -0.035907 -0.148523
2013-01-04 -1.159054 -0.694285 -0.463389 -0.623522
2013-01-05 -2.774810  1.841972  0.410819  0.471892

In [15]:
df.head(2)

                   A         B         C        D
2013-01-01  1.210114  0.221415  0.418297 -0.35543
2013-01-02  1.315240 -0.116895 -0.384307  0.20815

In [16]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.159054 -0.694285 -0.463389 -0.623522
2013-01-05 -2.774810  1.841972  0.410819  0.471892
2013-01-06  0.913644 -0.497487 -0.331762  0.596513

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.080401  0.415948 -0.064375  0.024847
std    1.672617  1.111572  0.398160  0.480687
min   -2.774810 -0.694285 -0.463389 -0.623522
25%   -0.640880 -0.402339 -0.371171 -0.303703
50%    0.945459  0.052260 -0.183835  0.029814
75%    1.151904  1.361079  0.299137  0.405956
max    1.315240  1.841972  0.418297  0.596513

In [18]:
df.get('C')

2013-01-01    0.418297
2013-01-02   -0.384307
2013-01-03   -0.035907
2013-01-04   -0.463389
2013-01-05    0.410819
2013-01-06   -0.331762
Freq: D, Name: C, dtype: float64

In [19]:
df.C

2013-01-01    0.418297
2013-01-02   -0.384307
2013-01-03   -0.035907
2013-01-04   -0.463389
2013-01-05    0.410819
2013-01-06   -0.331762
Freq: D, Name: C, dtype: float64

In [20]:
df[0:2]

                   A         B         C        D
2013-01-01  1.210114  0.221415  0.418297 -0.35543
2013-01-02  1.315240 -0.116895 -0.384307  0.20815

In [21]:
df.mean()

A    0.080401
B    0.415948
C   -0.064375
D    0.024847
dtype: float64

In [22]:
df.mean(1)

2013-01-01    0.373599
2013-01-02    0.255547
2013-01-03    0.633453
2013-01-04   -0.735063
2013-01-05   -0.012532
2013-01-06    0.170227
Freq: D, dtype: float64

In [23]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [24]:
s

0    2
1    4
2    3
3    0
4    1
5    2
6    6
7    6
8    0
9    1
dtype: int64

In [25]:
s.value_counts()

6    2
2    2
1    2
0    2
4    1
3    1
dtype: int64

In [26]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.615762 -0.420839 -0.842410 -1.506466
1  0.156225 -1.161694  0.461999 -0.168430
2  0.224698 -0.304003 -0.234027 -0.444278
3  1.402563  0.784573  1.288988 -0.789509
4 -0.566599 -0.135062 -1.204274  0.629646
5 -0.168895  0.189747 -0.213612 -0.323181
6 -1.580099  1.031097  0.376516 -2.276080
7 -0.487383  1.573328  0.059112  0.523721
8 -0.522638 -0.454532 -0.015776  0.585785
9  0.035430  0.436663  0.304853 -0.293846

In [28]:
df[9:]

         0         1         2         3
9  0.03543  0.436663  0.304853 -0.293846

In [29]:
pd.concat([df[:1], df[9:]])

          0         1         2         3
0 -0.615762 -0.420839 -0.842410 -1.506466
9  0.035430  0.436663  0.304853 -0.293846